<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReplacementProviderExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReplacementProviderExample.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestMaterialName" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestWidth" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestThickness" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="EdgeThreshold" serializeAs="String">
                <value>0</value>
            </setting>
        </ReplacementProviderExample.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
